
{% extends "layout.njk" %}
{% block content %}
<h1>Votre Jeux a été ajouté au panier</h1>

<form method="GET" action="/basket">
    {# <a href="/basket"> #}
    <button type="submit">
    Voir le panier
    </button>
  {# </a> #}
</form>
{% endblock %}
