
{% extends "layout.njk" %}
{% block content %}
<h1>Your game has been added to the cart</h1>

<form method="GET" action="/basket">
    {# <a href="/basket"> #}
    <button type="submit">
    See cart
    </button>
  {# </a> #}
</form>
{% endblock %}
