
{% extends "layout.njk" %}

{% block content %}
  <h1>{{game.name}}</h1>
  <img src={{game.cover.url}}>
  <h3>Genre: {{game.genres}}</h3>
  <h3>Summary : {{game.summary}}</h3>
  <h3>Platform : {{game.platform.name}}</h3>


  <form method="POST" action="/add-cookie/{{game.slug}}">

    <button type="submit">
    Add to cart
  </button>

</form>



{% endblock %}
