{% extends "layout.njk" %}

{% block content %}
  <h1>Bienvenue sur Jeux Vidéo.com</h1>


  <a href="/games"><img>List Of Games</a>
  <a href="/platforms"><img>List Of Platforms</a>
  <a href="/login"><img>Login</a>


"This should be changed in the first PR"

{% endblock %}
