{% extends "layout.njk" %}

{% block content %}
  <h1>Bienvenue sur Jeux Vidéo.com</h1>


  <a href="/games?page=1"><img>List Of Games</a> </br>
  <a href="/platforms"><img>List Of Platforms</a> </br>
  <a href="/login">Login</a> </br>
  <a href="/logout">Logout</a> </br>
  <a href="/userinfo">My profil</a> </br>


"This should be changed in the first PR"

{% endblock %}
