{% extends "layout.njk" %}

{% block content %}
  <h1>Welcome on the utimate video game platform</h1>


  <a href="/games?page=1"><img>List Of Games</a> </br>
  <a href="/platforms"><img>List Of Platforms</a> </br>

  <a href="/login">Login</a> </br>
  <a href="/logout">Logout</a> </br>


"This should be changed in the first PR"

{% endblock %}
