
{% extends "layout.njk" %}

{% block content %}
  <h1>Les différentes platforms</h1>

  <ul>
    {% for platform in platformsInfos %}
    <a href=/platform/{{platform.name | replace(" ","-")}}>
      <li>
      {{platform.name}}<br><br>
    <img src={{platform.platform_logo_url}}>
      </li>
    </a>
    {% endfor %}
  </ul>

{% endblock %}
