{% extends "layout.njk" %}

{% block content %}
  <center><h1>Jeux de la plateforme: {{platformGames[0].platform.name}}</h1></center><br><br>

  {# <ul>
    {% for games in platformGames %}

    <a href=/game/{{games.slug}}>
      <li>
      {{games.name}}<br><img src={{games.cover.url}}><br>
      </li>
      </a>
    {% endfor %}
  </ul> #}

  <div class="cards">
    {% for games in platformGames %}
    <div class="card bg-light mb-3 shadow mb-5 rounded">
        <center>
          <fieldset>
            <a href=/game/{{games.slug}}>
              {{games.name}}<br><br>
              <img src={{games.cover.url}}>
            </a>
          </fieldset>
        <center>
      </div>
    {% endfor %}
  </div>

{% endblock %}
