
{% extends "layout.njk" %}

{% block content %}
  <h1>Les différentes platforms</h1>

  <ul>
    {% for index in platformsInfos %}
      <li>
      {{index.platform.name}}<br><br>
    <img src={{index.platform.platform_logo_url}}>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
