
{% extends "layout.njk" %}

{% block content %}
  <center><h1>Les différentes platformes</h1></center><br><br>

  <div class="cards">
    {% for platform in platformsInfos %}
    <div class="card bg-light mb-3 shadow mb-5 rounded">
        <center>
          <fieldset>
            <a href=/platform/{{platform.name | replace(" ","-")}}>
              {{platform.name}}<br><br>
              <img src={{platform.platform_logo_url}}>
            </a>
          </fieldset>
        <center>
      </div>
    {% endfor %}
  </div>

{% endblock %}
